
body{

    display: grid; 
    place-items: center;
}

table {
    background-color: rgb(255, 246, 162); 
} 

table th {
    background-color: rgb(251, 251, 251);
} 

table td {
    background-color: rgb(255, 240, 143);
} 


.Tabla {
    width: 800px;
    border: 3px solid rgb(192, 192, 192); 
    margin:auto;
}

.Tabla th, .Tabla td {
    border: 2px solid rgb(5, 5, 5);
}


.Recuadro{

    background-color: blue;
    width: 70%;
    height: 100vh; 
    display: grid;  
    place-items: center;

    background-image: url(../img/pingus.jpg);  
    
    
   
   
}




